.Phonetic {
  margin-bottom: 20px;
}

.Phonetic a {
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #ffd000;
  color: #fff;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
